<div class="container">
  <table class="table table-striped table-bordered">
  <tr>
    <th>Subject</th>
  </tr>

  <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.Subject %></td>
    </tr>
  <% end %>
</table>
</div>
